* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

body {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  background-color: yellow;
}
header img {
  width: 162px;
  height: 44px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
}
.location i {
  display: block;
  padding: 0 15px;
}

.section_reservation {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 57px;
  text-align: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .section_reservation {
    padding-bottom: 30px;
  }
}
.section_reservation h1 {
  font-size: 1.5em;
  margin: 39.5px 5px 0 5px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.section_reservation > p {
  font-size: 1.125em;
  font-weight: 300;
  padding: 27px 25px 27px 25px;
}

.function {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  background-color: #ffffff;
  position: relative;
}
.function-choix {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1060px;
}
@media (min-width: 1025px) {
  .function-choix {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .function-choix {
    width: 95%;
  }
}
.function h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
  width: 75%;
  min-width: 350px;
  max-width: 1060px;
  text-align: left;
}
@media (min-width: 1025px) {
  .function h2 {
    width: 1060px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .function h2 {
    width: 98%;
  }
}
@media (max-width: 1025px) {
  .function h2 {
    width: 85%;
  }
}
.function-card {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 80%;
  height: 72px;
  position: relative;
}
@media (max-width: 1025px) {
  .function-card {
    min-width: 322px;
  }
}
@media (min-width: 1170px) {
  .function-card {
    max-width: 322px;
  }
}
.function-card_number {
  display: inline-block;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  color: #ffffff;
  font-size: 0.875em;
  font-weight: 500;
  position: absolute;
  left: -12px;
}
.function-card_icon {
  color: #777777;
}
.function-card_icon--selected {
  color: #9356DC;
}

.restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  position: relative;
  padding: 50px 20px;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 30px 20px 0 20px;
  }
}
.restaurants h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
  width: 100%;
  max-width: 1060px;
  text-align: left;
}
.restaurants_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .restaurants_1 {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .restaurants_1 {
    margin-bottom: 50px;
  }
}
.restaurants-card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  min-width: 340px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .restaurants-card {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  .restaurants-card {
    max-width: 490px;
  }
}
.restaurants-card_img {
  width: 100%;
  height: 175px;
  overflow: hidden;
}
.restaurants-card_img img {
  width: 100%;
  -o-object-position: 0 -50px;
     object-position: 0 -50px;
}
@media (min-width: 1025px) {
  .restaurants-card_img img {
    -o-object-position: 0 -100px;
       object-position: 0 -100px;
  }
}/*# sourceMappingURL=styles.css.map */