.location {
    @include flex-center;
    height: 50px;
    background-color: $secondary-background;
    i {
        display: block;
        padding: 0 15px;
    }
}
.section_reservation {
    display: flex;
    flex-direction: column; 
    background-color: $primary-background;
    padding-bottom: 57px;
    text-align: center;
    align-items: center;
    @media (min-width: 1025px) {
        padding-bottom: 30px;
    }
h1 {
    font-size: 1.5em;
    margin: 39.5px 5px 0 5px;
    font-weight: 700;
    line-height:28px;
    text-align: center;
}
> p{
    font-size: 1.125em;
    font-weight: 300;
    padding: 27px 25px 27px 25px;
}
}

.function {
    @include flex-center;
    flex-direction: column;
    padding: 50px 0;
    background-color: #ffffff;
    position: relative;
    &-choix {
    @include flex-center;
    flex-direction: column;
    gap:25px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1060px;
    @media (min-width: 1025px) {
        flex-direction: row;
        gap: 40px;
        margin-bottom: 0px;
    }
    @media (min-width: 1025px) and (max-width: 1440px) {
        width: 95%;
    }
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 25px;
    width: 75%;
    min-width: 350px;
    max-width: 1060px;
    text-align: left;
    @media (min-width: 1025px) {
        width: 1060px;
    }
    @media (min-width: 1025px) and (max-width: 1440px) {
        width: 98%;
    }
    @media (max-width: 1025px) {
        width: 85%;
    }
}
 &-card {
    background-color: $primary-background;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    @include flex-center;
    gap: 25px;
    width: 80%;
    height: 72px;
    position: relative;
    @media (max-width: 1025px) {
        min-width: 322px;
    }
    @media (min-width: 1170px) {
        max-width: 322px;
    }
    &_number{
        display: inline-block;
        text-align: center;
        line-height: 24px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: $color-pimary;
        color: #ffffff;
        font-size: 0.875em;
        font-weight: 500;
        position: absolute;
        left:-12px;
    }
    &_icon {
        color: darken($secondary-background,45);
        &--selected {
            color: $color-pimary;
        }
    }
}
}
.restaurants {
    @include flex-center;
    flex-direction: column;
    background-color: $primary-background;
    position: relative;
    padding: 50px 20px;
    @media (min-width: 768px) {
        padding: 30px 20px 0 20px;
    }
    h2 {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 25px;
        width: 100%;
        max-width: 1060px;
        text-align: left;
    }
    &_1,&_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            gap: 100px;
            margin-bottom: 30px;
        } 
    }
    &_1 {
        @media (min-width: 768px) {
            margin-bottom: 50px;
        }
    }
    &-card {
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        min-width: 340px;
        overflow: hidden;
        position: relative;
        @media (min-width: 768px) {
            width: 50%;
        }
        @media (min-width: 1025px) {
            max-width: 490px;
        }
        &_new {
            position: absolute;
            top: 5px;
            right: 15px;
            background-color: red;
            color: $color-tertiary-bis;
            padding: 6px 9px;
            font-size: 0.875em;
            font-weight: 500;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
        }
          
        &_img {
            width: 100%;
            height: 175px;
            overflow: hidden;
            img {
                width: 100%;
                object-position: 0 -50px;
                @media (min-width: 1025px) {
                    object-position: 0 -100px;
                }
            }    
        }
 }

 }