.location {
    @include flex-center;
    height: 50px;
    background-color: $secondary-background;
    i {
        display: block;
        padding: 0 15px;
    }
}
.section_reservation {
    display: flex;
    flex-direction: column; 
    background-color: $primary-background;
    padding-bottom: 57px;
    text-align: center;
    align-items: center;
    @media (min-width: 1025px) {
        padding-bottom: 30px;
    }
h1 {
    font-size: 1.5em;
    margin: 39.5px 5px 0 5px;
    font-weight: 700;
    line-height:28px;
    text-align: center;
}
> p{
    font-size: 1.125em;
    font-weight: 300;
    padding: 27px 25px 27px 25px;
}
}

.function {
    @include flex-center;
    flex-direction: column;
    padding: 50px 0;
    background-color: #ffffff;
    position: relative;
    &-choix {
    @include flex-center;
    flex-direction: column;
    gap:25px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1060px;
    @media (min-width: 1025px) {
        flex-direction: row;
        gap: 40px;
        margin-bottom: 0px;
    }
    @media (min-width: 1025px) and (max-width: 1440px) {
        width: 95%;
    }
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 25px;
    width: 75%;
    min-width: 350px;
    max-width: 1060px;
    text-align: left;
    @media (min-width: 1025px) {
        width: 1060px;
    }
    @media (min-width: 1025px) and (max-width: 1440px) {
        width: 98%;
    }
    @media (max-width: 1025px) {
        width: 85%;
    }
}
 &-card {
    background-color: $primary-background;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    @include flex-center;
    gap: 25px;
    width: 80%;
    height: 72px;
    position: relative;
    @media (max-width: 1025px) {
        min-width: 322px;
    }
    @media (min-width: 1170px) {
        max-width: 322px;
    }
    &_number{
        display: inline-block;
        text-align: center;
        line-height: 24px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: $color-pimary;
        color: #ffffff;
        font-size: 0.875em;
        font-weight: 500;
        position: absolute;
        left:-12px;
    }
    &_icon {
        color: darken($secondary-background,45);
        &--selected {
            color: $color-pimary;
        }
    }
}
}